@import "../../common/styles/mixins";

.contact {
  padding-bottom: 80px;
}

.container {
  @include container;
}

.content {
  display: flex;

  @media (max-width: 990px) {
    display: block;
  }
}

.info {
  padding: 0 20px;
  flex: 1;
  margin-bottom: 40px;
}

.infoTitle {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;

  @media (max-width: 576px) {
    font-size: 21px;
  }
}

.text {
  margin-bottom: 20px;
}

.contactItems {
  margin-bottom: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
}

.iconHolder {
  margin-right: 10px;
  font-size: 20px;
  color: var(--primary-color);
}

.contactName {
  text-transform: uppercase;
}

.socialNetworks {
  display: flex;
  gap: 20px;
}

.socialNetwork {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: var(--nav-icon-color);
  border-radius: 50%;
  background-color: var(--nav-btn-color);
  transition: var(--theme-transition);
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: var(--primary-color);
  }
}


