*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:root {
  --primary-color: #2eb85e;
  --bg-color: #ffffff;
  --btn-color: #2b2a2a;
  --nav-bg-color: #ffffff;
  --nav-btn-color: #eeeeee;
  --nav-icon-color: #666666;
  --nav-box-shadow: 0 0 47px #dedede;
  --text-color: #666666;
  --photo-box-shadow: none;
  --theme-transition: .3s ease;
  --page-title-color: #666666;
  --page-title-bg-text-color: rgba(30,37,48,.07);
  --skill-bg: #ffffff;
  --skill-box-shadow: 0 0 7px #d3d3d3;
  --experience-border: 1px solid #dddddd;
  --experience-date-bg: #eeeeee;
  --form-input-bg: #fff;
  --form-input-error-bg: #ffd8d8;
  --form-input-border: 1px solid #dddddd;
}

body.theme-dark {
  --text-color: #ffffff;
  --bg-color: #111111;
  --nav-bg-color: #2b2a2a;
  --nav-btn-color: #2b2a2a;
  --nav-icon-color: #dddddd;
  --nav-box-shadow: none;
  --photo-box-shadow: 0 0 7px rgba(0,0,0,.9);
  --page-title-color: var(--primary-color);
  --page-title-bg-text-color: hsla(0,0%,100%,.07);
  --skill-bg: #1c1c1c;
  --skill-box-shadow: 0 0 5px #000000;
  --experience-border: 1px solid #333333;
  --experience-date-bg: #252525;
  --form-input-bg: #252525;
  --form-input-error-bg: #b91a1a;
  --form-input-border: 1px solid #111111;

  @media (max-width: 990px) {
    --nav-btn-color: #444444;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: Poppins,sans-serif;
  font-size: 15px;
  color: var(--text-color);
  transition: color var(--theme-transition), background-color var(--theme-transition);
}


